*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url("OsfFKJ0.jpg");
    background-size: cover;
    /* background-size: contain;
    background-repeat: no-repeat; */
    background-attachment: fixed;
}

/* img{
    height: 200px;
    width: 200px;
    border-radius: 90px;
    margin: auto 2%;
} */
button{
    background: #212332;
    border: transparent;
    border-radius: 50px;
    width: 80%;
    text-decoration: none;
    color: white;
    font-size: x-large;
    margin: 25px 10% 25px 10%;
    padding: 30px;
}
button:hover{
    border: 2px solid white;
    /* text-decoration: underline; */
}
div a{
    text-decoration: none;
    color: white;
    font-size: x-large;
}
div a:hover{
    opacity: 0.8;
    
}
#section-header{
    text-align: center;
    color: whitesmoke;
}
.big-box{
    margin: 10% 10%;
    /* align-items: center; */
}
/* .box{
    background: #212332;
    border-radius: 50px;
    width: 70%;
    margin: 30px auto;
    padding: 40px;
    text-align: center;
} */